# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets (add your own filename if different)
Secrets.xcconfig
**/Secrets.plist

# CocoaPods (if you ever add it)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
